# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Environment variables
.env

# Firebase service account key
serviceAccountKey.json

# Dependencies
vendor/

# IDE files
.vscode/
.idea/
*.swp
*.swo