.main-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.table-wrapper {
    flex: 1;
    min-width: 100px;
    max-width: 300px;
}

.map-wrapper {
    flex: 2;
    min-width: 500px;
    height: 600px;
}